<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-4">Orders</h2>
        <table class="table table-bordered table-hover mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Order Name</th>
                    <th>Order Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orderId}">1</td>
                    <td th:text="${order.orderName}">Order Name</td>
                    <td th:text="${order.orderPrice}">100.0</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
