<body>
  <style>
    .nav-link, .navbar-brand {
      color: black;
    }
  </style>
  
  <nav class="navbar navbar-expand-xxl navbar-dark">
    <a class="navbar-brand brand-name" href="#">{{ title }}</a>


    <div>
      <ul class="navbar-nav navbar-nav-scroll">
        <li class="navbar-links">
          <a class="nav-link" href="https://www.gcu.edu/">GCU Home Page</a>
        </li>
        <li class="navbar-links">
          <a class="nav-link" routerLink="/create">Create</a>
        </li>
        <li class="navbar-links">
          <button class="nav-link" (click)="displayArtistList()">List Artists</button>
        </li>
        <li class="navbar-links">
          <button class="nav-link" (click)="displayVersion()">About</button>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>

