
<body *ngIf="selectedFruit == null">
  <div class="title-container">
    <div class="title-card" align="center">
      Click on a Fruit for Info
    </div>
  </div>
  <div class="main-container">

    <div class="search-side-bar">
      <div class="search-title">
        Search
      </div>
      <div class="search-content">

      </div>
    </div>
    <div class="fruit-list" >
      <div class="fruit-cards-container">
        <button class="fruit-card" *ngFor="let fruit of fruits" (click)="onSelectFruit(fruit)">
          <img class="fruit-image"src="assets/images/{{ fruit.picture }}" alt="{{ fruit.name }}">
          <div class="fruit-container" align="center">
            <br>
            <br>
            <h2><b>{{ fruit.name }}</b></h2>
            <br>
            <br>
          </div>
        </button>
      </div>
    </div>
  </div>
</body>


<app-display-fruit *ngIf="selectedFruit" [fruit]="selectedFruit"></app-display-fruit>
