<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
</head>
<body>
    <h1>Orders List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Order Number</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">ID</td>
            <td th:text="${order.orderNo}">Order No</td>
            <td th:text="${order.productName}">Product Name</td>
            <td th:text="${order.price}">Price</td>
            <td th:text="${order.quantity}">Quantity</td>
        </tr>
    </table>
</body>
</html>
